:root {
  --first: #FE3C4A;
  --second: #F7F7F7;
  --thiird: #e3e3e3;
}



p.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Navbar */

.navbar {
  background-color: var(--first);

}

form .btn {
  color: var(--second);
}

#mainName {
  color: var(--second);
}

#items2 {
  color: var(--second);
}

form .btn:hover {
  color: black;
  background-color: lightblue;
}

#items2:hover {
  color: black;
}

.registration {
  color: var(--first);

}

.registration:hover {
  text-decoration: none;
  color: black;
}

/* Sign up page */
.form {
  display: flex;
  width: 1200px;
  height: 650px;
  border: 3px solid var(--first);
  margin-top: 20px;
  margin-left: 150px;
  /* box-shadow: 5px 5px #888888; */
}

.form-row {
  padding: 10px 10px;
}

.leftside {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  background-color: var(--first);
  color: var(--second);
}

.leftside .lefthead {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50%;
  margin-left: 0%;
  text-align: center;
}

.rightside {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: var(--thiird);
  /* padding-left: 50%; */
}

.heading {
  color: var(--first);
  text-align: center;
}

.myclass button {
  color: var(--first);
}



/* Login Page */

.left {

  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  background-color: var(--first);
  color: var(--second);

}

.left .lefthead {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 45%;
  margin-left: 0%;
  /* padding-left: 10px; */
  text-align: center;
}

.right {

  /* display: flex;
  flex-direction: column;*/
  width: 60%;
  padding-left: 18%;
  padding-top: 12%;
  padding-right: 15%;
  background-color: var(--thiird);
}



/* About us page */
.aboutInfo {
  /* border: 2px solid red; */
  display: flex;
  height: 75vh;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

.information {
  display: flex;
  flex-direction: column;
  width: 50%;
}


.information h1 {
  color: var(--first)
}

.information p {
  padding-top: 60px;
}

.information p h6 {
  padding-top: 30px;
  color: var(--first)
}

.image {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 50px;
  padding-top: 85px;
}

/* .image #img{
  box-shadow: 5px 5px #888888;
} */


/* Home Page */


.slidder {
  /* border: 1px solid red; */
  width: 100vw;
  height: 92vh;
  /* background-image: url('./Components/images/home.jpg');
  background-repeat: no-repeat; */
  background-color: var(--thiird);
  background-size: cover;
  opacity: .6;
}

.title {
  /* border: 1px solid red; */
  display: inline-block;
  position: absolute;
  top: 40%;
  right: 65%;
  left: 5%;
}

.title h1 {
  color: var(--first);
  font-size: 100px;
}

.title h3 {
  /* border: 1px solid red; */
  margin-left: 72px;
}

.container {
  /* border: 1px solid red; */
  position: absolute;
  top: -30px;
  left: 65%;
  height: 590px;
  width: 500px;
  margin-top: 10%;
  margin-left: 50;
  /* background-color: #d9f2f3; */
}



/* #slideHead{
  text-align: center;
  background-color: #d9f2f3;
  color:black;
}
 */

#loginbtn {
  background-color: var(--first);
}


/*New Entry  */

.entry {
  /* border: 5px solid black; */
  height: 92vh;
  width: 100vw;
  background-color: var(--second);
}

.newRow {
  /* border: 2px solid red; */
  height: 460px;
  width: 80vw;
  padding-top: 100px;
  padding-left: 21%;
}

.newStudent {
  /* border: 2px solid red; */
  background-color: #e3e3e3;
  margin-right: 25px;

  height: 300px;
  width: 150px;
}

.newCol {
  border-radius: 10px;
}

.newCol:hover {
  /* right: -10px; */
  top: -20px;
  border-radius: 25px;
}


.newCompany {
  /* border: 2px solid red; */
  background-color: #e3e3e3;
  margin-left: 25px;
  height: 300px;
  width: 150px;
}

.entrybtn {
  background-color: var(--first);
}

#entries {
  text-decoration: none;
  color: var(--second);
}

#entries:hover {
  text-decoration: none;
  color: black;
}

#Img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* student registration page */

.StudentRegistration {

  /* border: 1px solid black; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 50%;
  background-color: var(--thiird);
  box-shadow: 3px 3px #888888;
}

#head {
  text-align: center;
  color: var(--first);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 70%;
  /* border: 1px solid blueviolet; */
}

.add {
  /* border: 1px solid black; */
  display: inline-block;
  margin-left: 85%;

}

#addBtn {
  background-color: var(--first);
  width: 80px;
}


#addBtn:hover {
  color: black;
  background-color: rgb(217, 240, 255);
}


/* New company entry */

.CompanyRegistration {
  /* border: 1px solid black; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  width: 50%;
  background-color: var(--thiird);
  box-shadow: 5px 5px #888888;
}


/* Recruiters */

.box {
  /* border: 1px solid red; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 60%;
  height: 80vh;
}

.gridContainer{
  border: 2px solid var(--first);
  height: 430px;
  margin-left: 2%;
  margin-top: 2%;
  margin-right: 2%;
  padding-top: 10px;
  padding-left: 10px;
  background-color: var(--second);
  border-radius: 10px;
}

/* place students */
.gridContainerStudent{
  border: 2px solid var(--first);
  height: 320px;
  margin-left: 2%;
  margin-top: 2%;
  margin-right: 2%;
  padding-top: 10px;
  padding-left: 10px;
  background-color: var(--second);
  border-radius: 10px;
  position: relative;
}
.gridContainerStudent:hover{
  top: -20px;
}

#delete{
  background-color: #FE3C4A;
  border: #FE3C4A;
  color: #F7F7F7;
  border-radius: 3px;
  margin-left: 800px;
 position: absolute;
}
#names{
  display: inline-block;
}

/* .gridcol{
  border: 1px solid red;
}

.gridRow{
  border: 1px solid red;
} */